  		<div class="page">

        <div id="app">
        
          <div id="metabolicProfile"></div>
          <div id="mealTracker"></div>
          <div id="recipes" class="percent30-column"></div>
          <div id="recipe" class="percent70-column"></div>

        </div>

      </div>