<script id="guest-contact" data-template-types="all" type="x-tpl-mustache">
<div>
   <h3>Contact</h3>
   guest view
   <div>
      <p>list publicly accessible contact info</p>
      <p>login for more info...</p>
   </div>
</div>
</script>