 <%- include header.ejs %>
	<div class="page">
	   <h3>guest homepage</h3>
	   <div>
	      guest homepage sell evo...
	      you were just on the <%= lastvisited%> page
	   </div>
	</div>
 <%- include footer.ejs %>
