<script id="guest-newsletter" data-template-types="all" type="x-tpl-mustache">
<div>
	<h3>Newsletter</h3>
	guest view
	<div>Login and you'll see the current newsletter and all archived newsletters.</div>
</div>
</script>