  <!doctype html>
  <html>
  <head>
  	<meta charset="utf-8">
  	<title>The Fountains at Crystal Creek</title>
  	<link rel="stylesheet" href="/public/library/twitter/bootstrap.min.css"></link>
  	<link rel="stylesheet" href="/public/css/main.css"></link>
  </head>
  <body>
  	<div class="container">
  		<h1>The Fountains at Crystal Creek</h1>
  		<p>Address: 3167 Aqua Virgo Loop, Orlando, FL 32837 <br>Phone: (407) 345 - 8860</p>
      <%- include nav %>
      <%- include client-app %>

  		<div class="sidebar"></div>

    