      <div id="nav">
        <ul>
          <li><a href="/"><i class="icon-home"></i>Home</a> | </li>
          <li><a id="authenticationstate" href="<%=stateLinkUrl%>"><i class="icon-heart"></i><%= stateLinkCopy%></a> | </li>
          <li><a href="/thefountains#/newsletter"><i class="icon-user"></i>Newsletter</a> | </li>
          <li><a href="/thefountains#/calendar"><i class="icon-calendar"></i>Event Calendar</a> | </li>
          <li><a href="/thefountains#/contact"><i class="icon-list"></i>Contact Us</a></li>
        </ul>
      </div>
      <hr />

