		<select required name="exercise_breakdown" class="form-select required" id="exercise-breakdown">
            <option value="no exercise">no exercise</option>
            <option value="100% weights">100% weights</option>
            <option value="25% cardio and 75% weights">25% cardio and 75% weights</option>
            <option value="50% cardio and 50% weights">50% cardio and 50% weights</option>
            <option value="75% cardio and 25% weights">75% cardio and 25% weights</option>
            <option value="100% cardio">100% cardio</option>
         </select>
         <div class="description">Select the option that best fits your exercise routine.</div>