		<select required name="goal" class="form-select required" id="goal">
            <option value="Maintain">Maintain</option>
            <option value="Gain Muscle and Maintain Body Fat/Bulk">Gain Muscle and Maintain Body Fat/Bulk</option>
            <option value="Gain Muscle and Weight, Ingore Body Fat">Gain Muscle and Weight, Ingore Body Fat</option>
            <option value="Strengthen Muscle and Loose 10% Weight">Strengthen Muscle and Loose 10% Weight</option>
            <option value="Loose Over 10% Weight">Loose Over 10% Weight</option>
            <option value="Tone and Firm">Tone and Firm</option>
        </select>
        <div class="description">Select the fitness goal that best matches yours.</div>
