		<select required name="meals_per_day" class="form-select required" id="meals-per-day">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
         </select>
         <div class="description">Please choose the number of meals per day you plan to eat.</div>