         <select required name="occupation" class="form-select required" id="occupation">
            <option value="Sedentary (eg: Office Worker)">Sedentary (eg: Office Worker)</option>
            <option value="Labor (eg: Waitress or Waiter)">Labor (eg: Waitress or Waiter)</option>
            <option value="Heavy Labor (eg: Construction Worker)">Heavy Labor (eg: Construction Worker)</option>
        </select>
        <div class="description">Select the occupation that best matches yours.</div>
